{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ],
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "**/*.js"
  ],
  "env": {
    "node": true
  },
  "root": true,
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "endOfLine": "lf",
        "printWidth": 100,
        "quoteProps": "consistent",
        "bracketSpacing": true,
        "arrowParens": "always"
      },
      {
        "usePrettierrc": false
      }
    ],
    "no-console": [
      "error"
    ],
    "prefer-template": [
      "error"
    ],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          [
            "builtin",
            "external"
          ],
          "index",
          "internal",
          "parent",
          "sibling"
        ]
      }
    ],
    "class-methods-use-this": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-interface": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}
